__pycache__/
data/audios_48kHz/
data/labels_48kHz/
data/spectrograms/
data/*.json
data/*.csv
data/fold*/
outputs*
*.ckpt
*.pt
data/annotations_examples/
data/audios*
data/labels*
data/predictions/
data/all_original_labels/
CLAUDE.md
